<mat-card>
  <mat-card-title>A table !</mat-card-title>
  <mat-card-subtitle>Laisser parler votre appétit ...</mat-card-subtitle>
  <img mat-card-image [src]="pasta" alt="Pâtes">
  <mat-card-content>
    <p>
      Dans un manoir de 1904, au croisement entre Saint Saint-Herblain et Le Forum d’Orvault à quelques minutes de
      Nantes vous proposons de découvrir notre vision et notre approche de la cuisine française fait maison avec des
      produits frais de saison.
      Notre brigade a à cœur de travailler des produits du terroir, pour votre plus grand plaisir ! Le restaurant
      dispose également d’une grande terrasse située et d’un parking réservé aux clients du Pavillon.

      Clients pressés, prévenez-nous à l'avance pour un service des plus efficaces le midi.
    </p>
  </mat-card-content>
</mat-card>
